<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EmpQuery</title>
<script src="./js/jquery-2.2.0.min.js"></script>
    <script src="./Emp/ajax/EmpAjax.js"></script>
    <script src="./VUE/vue.js"></script>
    <script src="./Emp/OnChange/EmpOnChange.js"></script>
<link href="./Emp/OnChange/EmpOnChange.css" rel="stylesheet">
</head>
<body>
添加vue
<div id="newApp">
    <p>{{VueName}}</p>
    <p>{{VueAge}}</p>
    <p>{{VueSex}}</p>
</div>


给vue添加属性变化
<div class="test1" id="test1" alt="" onclick="myFunction()">
    {{123}}
</div>
<div class="test2" id="test2" alt="" onclick="youFunction()">
    <input type="text" value="1234">
</div>


<div id="example">
    <div id="NewType1">
        <input type="text" v-model="items.type1" ref="type1"/>
    </div>
    <div class="show" id="type1" onclick="inputTypeFunction()">输入框一的内容：{{items.type1}}</div>

    <div id="NewType2">
        <input type="text" v-model="items.type2" ref="type2"/>
    </div>

    <div class="show" id="type2" onclick="blockTypeFunction()">输入框二的内容：{{items.type2}}</div>
</div>

<div id="app">
    <div id="message" onclick="inputFunction()">
        <p>{{ message }}</p>
    </div>
    <div id="NewMessage">
        <input type="text" v-model="message"/>
    </div>
    <div id="test"   onclick="blockFunction()">
        <p>{{test}}</p>
    </div>
    <div id="NewTest">
        <input type="text" v-model="test"/>
    </div>
</div>

Vue需要的script
<script src="./Emp/Vue/EmpVue.js"></script>

Ajax更新vue的script
<script src="./Emp/AjaxVueUpdate/EmpAjaxVueUpdate.js"></script>

Vue更新mysql数据库的script
<script src="Emp/VueAjaxToMysql/EmpVueAjaxToMysql.js"></script>






</body>
</html>