.hr {color: sienna;}
.p {margin-left: 20px;}
.body {background-image: url("images/back40.gif");}
.header {
  color: red;
  text-align: left;
  font-size: 8pt;
  }
.main {
  color: red;
  text-align: left;
  font-size: 8pt;
  background-color: gray; 
  padding: 20px;
  }
.mainmenu {
	color: red;
	text-align: right;
	font-size: 8pt;
  }
.left {
  color: red;
  text-align: left;
  font-size: 8pt;
  }
.content {
  color: red;
  text-align: left;
  font-size: 6pt;
  }
.under {
  color: red;
  text-align: left;
  font-size: 8pt;
  }
